# byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment directories
venv/
env/
ENV/
.env/

# IDE files
.vscode/
.idea/

# miscellaneous
*.log
*.sqlite3

# ignore exports
/exports/
/build/
/dist/
/main.spec

# ignore state information
settings.json
inputs.json